.container {
  display: flex;
  align-items: center;
  padding: 24px 16px 0 16px;
  margin: 0 0 16px 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 42px;
  height: 42px;
  background-color: var(--darkGrey);
  cursor: pointer;
}

.icon:hover {
  border: 1px solid var(--blue);
  outline: none;
}

.icon:focus {
  border: 1px solid var(--blue);
  outline: none;
}

.icon:active {
  border: 1px solid var(--blue);
  outline: none;
}
