.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px 27px 50px;
  margin: 0 auto;
  max-width: 1398px;
}
