.title {
  margin: 0 0 28px 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 86px;
  font-weight: 600;
  line-height: 115px;
  color: var(--white);
}

.desc {
  margin: 0;
  max-width: 645px;
  font-family: "Segoe UI", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 46px;
  color: var(--white);
}
