.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.item:hover {
  background-color: var(--darkGrey);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--blue);
}

.address {
  display: inline-block;
  width: 83%;
  font-family: "VTBGroupUI", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--lightGrey);
}
