.container {
  position: absolute;
  top: 16px;
  left: 16px;
  bottom: 16px;
  border-radius: 16px;
  width: 352px;
  max-height: calc((100% - 32px) - 0px);
  background-color: var(--black);
  z-index: 1;
}
